body {
    margin: 0;
    background: rgba(31, 13, 13, 0.178);
    width: 100%;
    height: 100vh; 
}
.header {
    margin: 0;
    background: gray;
    width: 100%;
    height: 150px;
}
.main {
    margin: 0 auto;
    background: white;
    width: 75%;
    height: 70vh;
    box-align: center;
    
}
.footer {
    margin: 0 auto;
    width: 75%;
    height:10%;
    background: black;
}